:root {
    --bg: #152039;
    --main: #ffe34f;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg);
    color: #ffffff;
    font-family: "Roboto Flex", Arial, sans-serif;
}

.header img {
    margin: 12px 0 0 12px;
    height: 39px;
    width: auto;
}
.header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tab {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}
.tab:hover {
    background: rgba(255, 255, 255, 0.10);
}
.tab p {
    font-weight: 700;
}
.tab_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 50%;
    height: 2px;
    border-radius: 50px;
    background: var(--main);
    transition: margin-left 0.4s ease-in-out;
}

footer {
    margin: 8px;
}

footer a {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    color: #ffffff;
    font-size: 10px;
}

footer a svg {
    width: 12px;
    height: 12px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    margin: 32px;
    width: 200px;
}

.flex__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    border: var(--main) 1px solid;
    background: var(--bg);
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--main);
    color: #000000;
}

#NotRegisteredText{
    width: max-content;
    color: red;
}
#NotRegisteredDiv{
    text-align: center;
}
#SESSIONIDDiv{
    display: none;
}